body {
	background-color:#fff;
	font-family: Microsoft YaHei;
}

.option {
	margin-top:10px;
	margin-bottom:10px;
	margin-left:auto;	
	margin-right:auto;
	text-align:center;
}

h2, h3 {
	text-align:center;
	text-decoration: none;
}

table {
	margin: 0 auto;
	border:1px solid white;
	width: 100%;
}

th,td {
	padding: 5px;
	border:1px solid white;
	width:50%;
	height:35px;;
}

th {
	width: 35%;
	background-color:#60065a;
	color:white;
}

td {
	background-color:#f5f5f5;
}

td label {
	color:blue;
	float:right;
}

#submit_more td {
	background-color:#eee;
}

.testDetail {
	margin-left:10px;
}

.button {
	background-color:#60065a;
	color: white;
}

.btn:hover {
	color: white;
}

div {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.x_ing {
	text-align: center;
}

div.x_ing h3 {
	margin-top: 30px;
	border-bottom: none;
}

div.x_ing img {
	max-width: 180px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.time {
	border-bottom: 1px solid #444;
	color: #444;
}

.middle {
	margin:0px auto;
}

.button-full {
	background-color:#60065a;
	width:100%;
	margin-top: 10px;
	color: white;
}

.button-60 {
	background-color:#60065a;
	width: 60%;
	margin-top: 10px;
	color: white;
}

.left_align {
	text-align: left;
}

#type label {
	margin-right: 5px;
}