	h2, h3 {
		margin-top: 15px;
		margin-bottom: 5px;
		padding: 5px 0px;
		border-bottom: 1px solid #444;
		color: #444;
	}

	h4 {
		padding-bottom: 5px;
		border-bottom: 1px solid #444;
		color:#444;
	}

	h4, form {
		text-align: center;
	}

	input {
		width: 80%;
		height: auto;
		text-align: left;
		padding-left: 5px;
	}
	
	.keleyitable table, td, th {
		background-color: none;
		margin-top:10px;  
		text-align: left;
	}  

	.keleyitable td {
		color: white;
		font-family: "微软雅黑";
		padding-left: 2px;
	}

	.keleyitable {
		background-color: #60065a; //#87a7e8;
		border-radius: 5px;
	}

	.klytd {
		width:150px;
	}  
	.hvttd {  
		width:500px
	}  

	.content_panel {
		background-color: white;
		color: #444 !important;
	}

	#content {
		color: #444;
		padding: 5px 10px;
	}

	.result_table {
		padding: 5px;
		background-color: #60065a;

	}

	.more_label {
		color: #87a7e8;
	}

	.time {
		border-bottom: 1px solid #444;
		color: #444;
	}