<html>
<head>
	<meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>公告面板</title>
	<script src="JS/common.js" type="text/javascript"></script>
	<script src="JS/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="JS/announce_student.js" type="text/javascript"></script>
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/style.css">
	<style>  
	.keleyitable table, td, th {  
		border: 2px solid white;
		margin-top:10px;  
	}  

	.keleyitable td {
		background-color:#60065a;
		color:white;
	}
	.klytd {
		width:150px;
		text-align:right  
	}  
	.hvttd {  
		width:500px
	}  
	</style>
</head>
<body onload="initSingleAnnounce()">
	<h2>当前公告</h2>
	<div id="announce_content"  style="margin:0px auto;" class="keleyitable">
		<table>  
			<tr><td class="klytd">课程：</td><td class ="hvttd" id="course_name"></td></tr> 
			<tr><td class="klytd">时间：</td><td class="hvttd" id="posttime"></td></tr>  
			<tr><td class="klytd">发布人：</td><td class ="hvttd" id="teacher_name"></td></tr>   
			<tr><td class="klytd">内容：</td><td class ="hvttd" id="content"></td></tr>
		</table>
	</div>

</body>
</html>