<html>
<head>
	<meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>公告面板</title>
	<script src="JS/common.js" type="text/javascript"></script>
	<script src="JS/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="JS/announce_student.js" type="text/javascript"></script>
	<link rel="stylesheet" href="CSS/wow.css">
</head>
<body onload="initAnnounceList()">
	<div id="openID">{$openID}</div>
	<h2>当前公告</h2>
	<div id="announce_content"  style="margin:0px auto;" class="keleyitable">
<!-- 		<table>  
			<tr><td class="klytd">课程：</td><td class ="hvttd">软件构造</td></tr> 
			<tr><td class="klytd">公告时间：</td><td class="hvttd">2014-12-20</td></tr>  
			<tr><td class="klytd">发布人：</td><td class ="hvttd">柯乐义</td></tr>   
			<tr><td class="klytd">内容：</td><td class ="hvttd">是VB.NET还是C#，还是其他呢？</td></tr>
		</table> -->
	</div>

</body>
</html>