<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/> 
	<script src="JS/common.js" type="text/javascript"></script>
	<script src="JS/bind.js" type="text/javascript"></script>
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/style.css">
	<link rel="stylesheet" href="CSS/wow.css">
</head>
<body onload="init()">
	<div class="container">
		<h4>请输入教务网账号和密码</h4>
		<form action="http://localhost:3306/mike_server_v01/index.php/Wechat/Index/bind" method="post">
			<p><input type="text" name="action" value="bind" style="display:none;"></p>
			<p><input type="text" name="openid" value="{$openID}" id="openId" style="display:none;"></p>
			<p><input type="text" name="identify_id" placeholder="学号/教职工号"></p>
			<p><input type="password" name="password" placeholder="密码"></p>
			<p><input type="submit" class="btn button" value="绑定"></p>
		</form>
	</div>
</body>
</html>