<html>
<head>
	<meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>点名进行中</title>
	<script src="JS/common.js" type="text/javascript"></script>
	<script src="JS/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="JS/roll_call_teacher.js" type="text/javascript"></script>
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/style.css">
</head>
<body onload="initEndCount()">
	<div id="openID" style="display:none;">{$openID}</div>
	<div id="quizID" style="display:none;">{$quizID}</div>
		<div class="x_ing">
		<h3>点名正在进行中...</h3>
		<img src="Public/img/wait.gif">
	</div>
	<p class="endCount" style="text-align:center;"><input style="width:60%;height:40px;background-color:#60065a" type="button" class="btn btn-primary" value="结束点名" onclick="endCount()"/></p>
</body>
</html>