<html>
<head>
	<meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>小测进行中</title>
	<script src="js/common.js" type="text/javascript"></script>
	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="js/test.js" type="text/javascript"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body onload="initEndTest()">
	<h2>小测正在进行</h2>
	<p class="endTest" style="text-align:center;"><input style="width:40%;height:40px;background-color:#60065a" type="button" class="btn btn-primary" value="结束小测" onclick="endTest()"/></p>
</body>
</html>