<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<script src="js/test.js" type="text/javascript"></script>
	<script src="js/common.js" type="text/javascript"></script>
	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="style.css">
	<!-- <link rel="stylesheet" href="bootstrap.min.css"> -->
</head>
<body onload="init()">
	<h3 style="text-shadow:none;">题目：<span id="title"></span></h3>
	<form action="" id="form">
	</form>
	<p style="text-align:center;" ><input style="font-size:1.1em;background-color:#60065a" type="button" class="option btn btn-primary" value="创建小测" onclick="submit()"/></p>
</body>
</html>