<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>开始点名</title>
	<link rel="stylesheet" href="style.css" type="text/css"></style>
	<script src="JS/roll_call_teacher.js" type="text/javascript"></script>
	<script src="JS/common.js" type="text/javascript"></script>
	<script src="JS/jquery-1.9.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" href="CSS/style.css">
</head>
<body onload="initCourseList()">
	<h3>开启点名</h3>
	<div>
		选择课程：
		<select name="course_list" id="course-list" onclick="changeCourse(this.value)">
		</select>
	</div>
	<br>
	<div>
		选择点名持续时间：
		<select name="course_list" id="course-list" onchange="changeDuration(this.value)">
			<option value="120" checked="checked">2分钟</option>
			<option value="300">5分钟</option>
			<option value="600">10分钟</option>
			<option value="1800">30分钟</option>
		</select>
	</div>
	<br>
	<p><input type="button" class="btn btn-primary" style="background-color:#60065a" value="开始点名" onclick="beginRollCall()"/></p>
</body>
</html>