<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/> 
	<script src="js/common.js" type="text/javascript"></script>
	<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="js/roll_call.js" type="text/javascript"></script>
	<link rel="stylesheet" href="bootstrap.min.css">
</head>
<body onload="initRollCall()">

</body>
</html>