<html>
<head>
    <meta  http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="js/common.js" type="text/javascript"></script>
    <script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/test_detail.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script>
        $(document).ready(getTestDetail());
    </script>
</head>
<body>
    <h3 style="text-align:left;">小测题目:<span id="title"></span></span></h3>
    <form action="">
        <div class="testDetail" id="testDetail">
        </div>
    </form>
    <p class="testDetail">
        <input type="button" class="btn btn-primary" style="width:100%;background-color:#60065a" value="提交" onclick="submitAnswer()"/>
    </p>
</body>
</html>